langchain 
langchain-core
langchain-community 
pypdf
pymupdf
sentence-transformers 
chromadb 
faiss-cpu
python-dotenv
fastapi
pydantic
langchain-huggingface
langchain-text-splitters
streamlit 
requests
uvicorn[standard]
bs4
langchain_openai 